@import "./customProperties.css";



.btn_switch {
  border: none;
  background-color: transparent;
  height: 2rem;
  width: 2rem;

}

.btn_switch:hover{
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(185, 5, 4, 0.5));

}