:root {
  /*
    -----------------------------------------------------------------------
                                Colores
    -----------------------------------------------------------------------
    */

  --redWeb: #b90504;
  --redWebLight: rgb(183, 99, 99);
  --redWebDark: #990100;
  --blueWebDark: #2b2d42;
  --blueWebLight: #8d99ae;
  --blueWebExtraLight: #e8e8e8;
  --whiteWeb: #f6f6f6;
  --blackWeb: #333333; 
  --pureWhite: #ffffff;
  --pureBlack: #000000;


  /*
    -----------------------------------------------------------------------
                            Fuentes
    -----------------------------------------------------------------------
  */
  --primaryFont: 'Nunito', sans-serif;

  /*
    -----------------------------------------------------------------------
                            Fuentes grosores
    -----------------------------------------------------------------------
  */
  
  --fontTitles: 900;
  --fontSubTitles: 700;
  --fontbold: 600;
  --fontNormal: 400;
  --fontQuotes: 300;
  
  /*
    -----------------------------------------------------------------------
                            BreakPoints
    -----------------------------------------------------------------------
  */

  --mobile: 768px;
  --tablet: 1024px;
  --desktop: 1280px;
}
