@import "./customProperties.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primaryFont);
  background-color: var(--whiteWeb);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: var(--fontSubTitles);
}



footer {
  background-color: var(--blueWebDark);
  width: 100%;
  height: 50px;
}


::selection {
  color: var(--whiteWeb);
  background: var(--redWeb);
}